<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081245700531-q46mj403755j5daphq2c4ovossdfsnh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081245700531-q46mj403755j5daphq2c4ovossdfsnh3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081245700531-24k4ge536t1s91ol124asumaivi07fr4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjKZ0pvZydjOr4yhuV3NYslxGjNc7lVa8</string>
	<key>GCM_SENDER_ID</key>
	<string>1081245700531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notSoSecret</string>
	<key>PROJECT_ID</key>
	<string>not-so-secret-e7acd</string>
	<key>STORAGE_BUCKET</key>
	<string>not-so-secret-e7acd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081245700531:ios:09e2d5fdc8f9be4fb0fbc6</string>
</dict>
</plist>